* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 1920px;  
    font-family: "Poppins", sans-serif;
}

.container {
    margin: 100px 287px;
}

.navbar img {
    cursor: pointer;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar .nav {
    align-items: center;
    width: 800px;
    display: flex;
    justify-content: space-between;
}

.sign_up_btn {
    border-radius: 20px 0;
    background-color: #CAA892;
    color: white;
}

.navbar .nav a {
    padding: 10px 15px;
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 16px;
    transition: 0.5s;
}

.navbar .nav a:hover {
    border-radius: 20px 0;
    background-color: #CAA892;
    color: white;
}


.header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_wrap .left_box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 600px;
}


.header_wrap .left_box span {
    font-size: 20px;
    font-weight: 600;
    color:#646464;
}

.header_wrap .left_box button {
    width: 140px;
    height: 40px;
    background-color: #37806B;
    border-radius: 20px 0;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 18px;
    font-weight: 700;
    transition: 0.5s;
}

.header_wrap .left_box button:hover {
    color: #d1d1d1;
}


.header_wrap .left_box h1 {
    font-size: 72px;
    font-weight: 600;
    line-height: 78px;
}

 .header_wrap .left_box p {
    font-size: 18px;
    color : #646464;
}

.header_wrap .right_box img {
    border-radius: 25% 0;
    transition: 1s;
    width: 584px;
    height: 387px;
}

.header_wrap .right_box img:hover {
    cursor: pointer;
    padding: 0 3% 3% 0;
    border: solid 1px #CAA892;
}


.container_main_content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.container_main_content .content_box {
    display: flex;
    justify-content: space-between;
}

.container_main_content span {
    font-size: 20px;
    font-weight: 600;
    color: #646464;
}

.container_main_content h2 {
    font-size: 48px;
    font-weight: 700;
    color:#212121;
}

.content_box img {
    width: 425px;
    height: 193px;
    transition: 1s;
}

.content_box img:hover{
    width: 440px;
    height: 200px;
}

.header_wrap .right_box .ph2 {
    border-radius: 25% 0;
    transition: 1s;
    width: 584px;
    height: 387px;
}

.header_wrap .right_box .ph2:hover {
    cursor: pointer;
    padding: 0 0 3% 3%;
    border: solid 1px #CAA892;
}

.clients_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.clients_wrap span {
    font-size: 25px;
    font-weight: 600;
    color: #646464;
}

.clients_wrap h2 {
    font-size: 48px;
    font-weight: 600;
    color: #212121;
}

.clients_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog_container {
    padding: 100px 287px;
    background-color: #F8F8F8;
}

.blog_container_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.blog_container_wrap span {
    font-size: 25px;
    font-weight: 600;
    color: #646464;
}

.blog_container_wrap h2 {
    font-size: 48px;
    font-weight: 600;
    color: #212121;
}

.blog_main_content {
    display: flex;
    justify-content: space-between;
    gap: 130px;
}

.btn {
    width: 260px;
    padding: 10px 20px;
    background-color: #37806B;
    border-radius: 20px 0;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 18px;
    font-weight: 700;
    transition: 0.5s;
}

.btn:hover {
    color: #d1d1d1;
}

.blog_img {
    border-radius: 25% 0;
    transition: 1s;
    width: 584px;
    height: 387px;
}

.blog_img:hover {
    cursor: pointer;
    padding: 0 3% 3% 0;
    border: solid 1px #CAA892;
}

.blog_right_box, .blog_left_box{
    display: flex;
    flex-direction: column;
    gap:35px;
}

.main_content h3 {
    font-size: 30px;
    font-weight: 600;
    color: #212121;
}

.main_content p {
    font-size: 18px;
    color: #646464;
}